
:root{
    --background-color:rgb(32, 32, 32);
    --background-color-body:rgb(172, 172, 172);
    --basic-text-color:white;
    --hovering-bg-color:blue;
}
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color-body);
    color: var(--basic-text-color);
    width: 100%;
}
#sidebar-container{
    display: none;
}
.open-sidebar{
    display: none;
}
.close-sidebar{
    display: none;
}
.navbar-container{
    display: inline;
    height: 50px;
    width: 100%;
    display: flex;
    background-color: var(--background-color);
    position: fixed;
    top:0px;
    left: 0px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 0px;
}

.navbar-container a{
    height: 50px;
    padding: 20px 30px;
    align-items: center;
    width: auto;
    text-decoration: none;
    color: var(--basic-text-color);
}
.navbar-container a:hover{
    background-color: var(--hovering-bg-color);
    transition:0.4s linear;
}

@media(max-width:550px){
    .navbar-container{
        height: 100vh;
        flex-direction: column;
        width: 250px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    
}