:root{
    --background-color:rgb(32, 32, 32);
    --background-color-body:rgb(172, 172, 172);
    --basic-text-color:white;
    --hovering-bg-color:blue;
}
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color-body);
    color: var(--basic-text-color);
    width: 100%;
}
#sidebar-container{
    display: none;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 5%;
    background-color: var(--background-color);
}
.right-container{
    display: flex;
}
.right-container a{
    padding: 18px;
    color: white;
    text-decoration: none;
}
.right-container a:hover{
    background-color: var(--hovering-bg-color);
    transition: 0.5s linear;
    
}
.open-sidebar{
    display: none;
}
.close-sidebar{
    display: none;
}

@media(max-width:550px){
    body{
        position: relative;
        overflow-x: hidden;
    }
    .navbar-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100vh;
        width: 200px;
        position: absolute;
        right: -200px;
        
    }
    img{
        display: none;
    }
    .right-container{
        flex-direction: column;
    }
    .close-sidebar{
        display: block;
        margin: 10px 10px;
        font-size: 30px;
        width: 36px;
        cursor: pointer;
    }
    .open-sidebar{
        display: block;
        margin: 10px 10px;
        font-size: 30px;
        width: 36px;
        cursor: pointer;
        position: absolute;
        right: 0px;
        color: var(--background-color);
    }
    #sidebar-container:checked ~.navbar-container{
            animation: 0.3s animate linear forwards;
    }

}

@keyframes animate {
    from{

    }
    to{
        right: 0px;
    }
}